/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {/* test */
    /*     border: 1em solid lime;*/
}
#slider {
    //&, * {@include transition( all 0.5s ease-in 0);}
    height: 260px;
    overflow: hidden;
}

.gallery-image {
    border-radius: 0px;
    width: 12em;
}
.gallery-image-link {
    @include transition( background-color 0.1s ease-out);
    background-color: #fff;
    border-radius: 0px;
    display: inline-block;
    line-height: 0;
}
.gallery-image-link:hover {
    background-color: #cccccc;
}
.vidwrap {
    bottom: 0;
    display: none;
    background-color: black;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
div.video-js {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
