/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {/* test */
    /*     border: 1em solid lime;*/
}
#slider {
    //&, * {@include transition( all 0.5s ease-in 0);}
    height: 260px;
    overflow: hidden;
}

.gallery-image {
    border-radius: 0px;
    width: 12em;
}
.gallery-image-link {
    @include transition( background-color 0.1s ease-out);
    background-color: #fff;
    border-radius: 0px;
    display: inline-block;
    line-height: 0;
}
.gallery-image-link:hover {
    background-color: #cccccc;
}
.vidwrap {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    div.video-js {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;

        &:after {
            color: white;
            content: 'CLICK OUTSIDE VIDEO TO CLOSE';
            display: block;
            font-size: 12px;
            position: relative;
            text-align: center;
            top: -3em;
        }
    }
    .vjs-big-play-button {
        display: none !important;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
