
div.tabs {
    font: normal 12px/2 sans-serif ;
    margin: 50px 1em 1em;
    position: relative;

    dl {
        background-color: white;
        height: 22em;
        width: 55em;
    }
    dt {
        border: 1px solid gray;
        border-radius: 4px 4px 0 0 ;
        background-color: #ddd;
        cursor: pointer;
        float: left;
        height: 3em;
        line-height: 3;
        margin: -2.8em -1px -1px 0;
        padding: 0 1em;
    }
    dd {
        clear: both;
        display: none;
        height: 100%;
        overflow: auto;
        padding: 1em;
        width: 100%;
    }
    dt.active, dt:active {
        background-color: white;
        border-bottom: 0;
    }
    dd.active {
        border: 1px solid gray;
        display: block;
    }
}
