
.center {
    text-align: center;
}
.orange {
    color: $orange-dark;
}
.outline {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.teaser {
    margin: 1px 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1px;
}
.wrap {
    background-color: white;
    margin: auto;
    position: relative;
    width: 960px;
}
article {
    font-size: 120%;
    line-height: 130%;

    #{$texts} {
        color: #555;
    }
}
nav {
    a {
        color: white !important;
        display: inline-block;
        &:hover {
            border-bottom: 1px solid;
        }
    }
}
section {
    h1 {
        color: $wfred;
        font-size: 300%;
        font-weight: normal;
    }
    .pic {
        background-color: #aaa;
        border: 1px solid gray;
        display: inline-block;
        float: left;
        height: 109px;
        margin: 2px;
        width: 109px;
    }
    .pics {
        padding: 0 1rem;
    }
    font-size: 120%;
    padding: 0 1rem;
}
#{$texts} {
    img {
        margin: 1rem 2rem;
    }
}
