
.center {
    text-align: center;
}
.orange {
    color: $orange-dark;
}
.outline {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.split {
    columns: 2;
}
.teaser {
    margin: 1px 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1px;
}
.wrap {
    background-color: white;
    margin: auto;
    position: relative;
    width: 960px;
}
article {
    font-size: 120%;
    line-height: 130%;

    #{$texts} {
        color: #555;
    }
}
nav {
    a {
        &:hover {
            border-bottom: 1px solid;
            opacity: 0.8;
        }
        color: white !important;
        display: inline-block;
    }
}
section {
    h1 {
        color: $wfred;
        font-size: 300%;
        font-weight: normal;
    }
    .pic {
        border: 1px solid gray;
        display: inline-block;
        float: left;
        font-size: 9px;
        height: 109px;
        margin: 2px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        width: 109px;

        img {
            margin: 0;
            width: 100%;
        }
        &:empty {
            background-color: #aaa;
        }
        p {
            display: none;
        }
        &:hover {
            height: auto;
            width: 100%;
            p {
                display: block;
            }
        }
    }
    .pics {
        padding: 0 1rem;
    }
    font-size: 120%;
    padding: 0 1rem;
}
#{$texts} {
    img {
        margin: 1rem 2rem;
    }
}
