$unit: 110px;

@mixin sizer($fact: 1, $unit: 100px, $ratio: 1.2, $hold: 0.5s) {
    $h: $fact * $unit;
    $w: $fact * $unit;

    &, * {@include transition( all 0.5s ease-in $hold);}
    border: $fact * 1px solid #ccc;
    height: $h;
    margin: (($w * $ratio - $unit) / -2) + 2px;
    width: $w * $ratio;
    z-index: $fact;
}

.pics {
    @include defani;
    font-size: 10px;
    padding: 0 1rem;
    text-align: center;

    .pic {
        @include sizer(1, $unit, 1);
        background-color: white;
        cursor: pointer;
        float: left;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &:empty {
            background-color: #ddd;
        }
        img {
            margin: -5% -15%;
            width: 140%;
        }
        p {
            display: none;
        }
    }
    .pic:hover {
        @include sizer(2, $unit, 1.2);
        img {
            margin-top: -5%;
        }
        p {
            display: block;
        }

    }
    .pic.active {
        @include sizer(5, $unit, 1.2, 0s);
        img {
            margin-top: 0%;
            width: 120%;
        }
        p {
            display: block;
            max-height: $unit;
        }

    }
}
