$unit: 110px;

@mixin framer($size: 25, $depth: 4) {
    $x: $depth * 2.75px;
    $y: $depth * 5.50px;
    $z: $depth * 8.25px;
    border: ($size * 1px) solid transparent !important;
    border-image: url(../images/border.png) $size round !important;
    box-shadow: $x $y $z rgba(0, 0, 0, 0.11 * $depth);
}

@mixin sizer($fact: 1, $unit: 100px, $ratio: 1.2, $hold: 0.5s) {
    $h: $fact * $unit;
    $w: $fact * $unit;

    &, * {@include transition( all 0.5s ease-in $hold);}
    border: $fact * 1px solid #ccc;
    height: $h;
    margin: (($w * $ratio - $unit) / -2) + 2px;
    width: $w * $ratio;
    z-index: $fact;
}

.pics {
    @include defani;
    font-size: 10px;
    padding: 0 1rem;
    text-align: center;

    .pic {
        @include framer(1, 1);
        @include sizer(1, $unit, 1);
        background-color: white;
        cursor: pointer;
        float: left;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &:empty {
            background-color: #ddd;
        }
        img {
            margin: -5% -15%;
            width: 140%;
        }
        p {
            display: none;
            margin-top: 0.5rem;
        }
    }
    .pic:hover {
        @include sizer(3, $unit, 1.1);

        img {
            margin-top: 0%;
        }
        p {
            display: block;
        }

    }
    .pic.active {
        @include framer(25, 4);
        @include sizer(5, $unit, 1.3, 0s);

        img {
            margin: -5% -10%;
            width: 120%;
        }
        p {
            display: none;
            max-height: $unit;
        }
    }
}
