/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PROJ / xtra */

.center {
    text-align: center;
}
.orange {
    color: $orange-dark;
}
.outline {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.split {
    columns: 2;
}
.teaser {
    margin: 1px 1em 1em 0;
    padding: 1em 1em 1em 1px;
}
.wrap {
    background-color: white;
    margin: auto;
    position: relative;
    width: 960px;
}
.warning {
    font-weight: bold;
    color: #bb0826;
}
article {
    font-size: 100%;

    #{$texts} {
        color: #000;
    }
}
nav {
    a {
        &:hover {
/*            border-bottom: 1px solid;*/
            opacity: 0.8;
            text-decoration:none;
        }
        color: white !important;
        display: inline-block;
    }
}
section {
    h1 {
        color: $wfred;
        font-size: 250%;
    }
    font-size: 120%;
    padding: 0 1em;
}
#{$texts} {
    img {
        margin: 1em 2em;
    }
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
