body {
    font-size: 100%;
}
.grid {
    width: 96.6 * $X;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* 6-Col Grid Sizes */
.slot00,    .slot11,    .slot22,    .slot33,    .slot44,    .slot55             { width:13.6 * $X; }    /* Sixths */
.slot01,    .slot12,    .slot23,    .slot34,    .slot45                         { width:30.2 * $X; }    /* Thirds */
.slot03,    .slot14,    .slot25                                                 { width:63.4 * $X; }    /* Two-Thirds */
.slot04,    .slot15                                                             { width:80.0 * $X; }    /* Five-Sixths */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* 4-Col Grid Sizes */
.slot66,    .slot77,    .slot88,    .slot99                                     { width:21.9 * $X; }    /* Quarters */
.slot68,    .slot79                                                             { width:71.7 * $X; }    /* Three-Quarters */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* 6-Col/4-Col Shared Grid Sizes */
.slot02,    .slot13,    .slot24,    .slot35,
.slot67,    .slot78,    .slot89                                                 { width:46.8 * $X; }    /* Halves */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#{$SlotsSetup} {
    display: inline;
    float: left;
    margin-left: 3 * $X;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
