/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Zeroing Out Leftmost Slot Margins */
.slot00,.slot01,    .slot02,.slot03,    .slot04,.slot05,    .slot66,.slot67,    .slot68,.slot69,
.slot11 .slot11,
.slot12 .slot11,    .slot12 .slot12,
.slot13 .slot11,    .slot13 .slot12,    .slot13 .slot13,
.slot14 .slot11,    .slot14 .slot12,    .slot14 .slot13,    .slot14 .slot14,
.slot15 .slot11,    .slot15 .slot12,    .slot15 .slot13,    .slot15 .slot14,    .slot15 .slot15,
.slot22 .slot22,
.slot23 .slot22,    .slot23 .slot23,
.slot24 .slot22,    .slot24 .slot23,    .slot24 .slot24,
.slot25 .slot22,    .slot25 .slot23,    .slot25 .slot24,    .slot25 .slot25,
.slot33 .slot33,
.slot34 .slot33,    .slot34 .slot34,
.slot35 .slot33,    .slot35 .slot34,    .slot35 .slot35,
.slot44 .slot44,
.slot45 .slot44,    .slot45 .slot45,
.slot55 .slot55,
.slot77 .slot77,
.slot78 .slot77,    .slot78 .slot78,
.slot79 .slot77,    .slot79 .slot78,    .slot79 .slot79,
.slot88 .slot88,
.slot89 .slot88,    .slot89 .slot89 {
    margin-left: 0 !important; /* Important is to avoid repeating this in larger screen css files */
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.row {
    clear: left;
    zoom: 1;
}
.row:after { /* Row Clearfix */
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
